*.psc
*.o
vertexcol
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
libompdist.a
gentest
leader_elect_lcr
mis
leader_elect_dp
bfs_dijkstra
